<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.HouseDealMapper">

	<insert id="insert" parameterType="com.ssafy.happyhouse.dto.HouseDeal">
		INSERT INTO
		housedeal
		(aptCode, price, dealYear,dealMonth,dealDay)
		VALUES
		(#{aptCode}, #{price}, #{dealYear}, #{dealMonth}, #{dealDay})
	</insert>

	<select id="selectAllByArea" resultType="com.ssafy.happyhouse.dto.ReturnDealData" parameterType="String">
		SELECT
		d.dealNo, i.aptName, (select CONCAT(areaName, ' ', i.jibun) from baseaddress where areaCode=i.areaCode) as address,
		CONCAT(d.dealYear, '/', d.dealMonth, '/', d.dealDay) as dealDate,
		d.price, i.area, i.builtYear, i.floor
		from housedeal d natural join houseinfo i
		where left(i.areaCode, LENGTH(#{area})) = #{area} 
	</select>
	
	<select id="selectAllByKeyword" resultType="com.ssafy.happyhouse.dto.ReturnDealData" parameterType="String">
		SELECT
		d.dealNo, i.aptName, (select CONCAT(areaName, ' ', i.jibun) from baseaddress where areaCode=i.areaCode) as address,
		CONCAT(d.dealYear, '/', d.dealMonth, '/', d.dealDay)as dealDate,
		d.price, i.area, i.builtYear, i.floor
		from housedeal d natural join houseinfo i
		where left(i.areaCode, LENGTH(#{area})) = #{area} 
		and i.aptName like CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="getAddress" parameterType="String" resultType="String">
		select distinct 
		CONCAT(a.sidoName, a.gugunName, a.dongName, #{jibun}) as address
		from areainfo a natural join houseinfo 
		where a.areaCode = #{area}
	</select>
</mapper>
